<!-- kontener formularza -->
<div class="sk-form-container">
    <form action="">
        <h3>Dodaj nowy artykuł</h3>
        <div class="ui form">
          <div class="field ui error">
              <label>Tytuł:</label>
              <input type="text" name="title" />
          </div>
          <div class="field">
              <label>Link:</label>
              <input type="text" name="link" />
          </div>
          <div class="field">
              <label>Opis (max 120 znaków):</label>
              <input type="text" name="description" />
          </div>
          <div class="field">
              <label>Obrazek (link):</label>
              <input type="text" name="image" />
          </div>
          <div class="positive ui large button">Dodaj</div>
        </div>
    </form>
</div>
<div class="sk-main-list">
    <h3 class="sk-column-header">Najnowsze artykuły</h3>
</div>