<!-- kontener formularza -->
<div class="sk-form-container">
    <form [ngFormModel]="articleForm" (ngSubmit)="onSubmit()">
        <!-- zestaw kontrolek articleForm -->
        <!-- ngSubmit i nazwa funkcji (wlasna nazwa) ktora bedzie przetwarzala dane z formularza aktualziowala model -->
        <h3>Dodaj nowy artykuł</h3>
        <div class="ui form">
                <div class="field ui" [ngClass]="{error: !articleForm.find('title').valid && articleForm.find('title').touched}">
              <label>Tytuł:</label>
              <input type="text" name="title" [ngFormControl]="articleForm.controls['title']" />
              <!-- definujemy kontrolke, wiazemy elementy w tej grupie, kazdy input do kontrolki. Najpierw do grupy, pozniej do kontrolek i do poszczegolnej kontrolki -->
              <!-- Walidacja formularza wyswietlanie klasy [ngClass] error (czerwonego obramowania) - klasa error: warunek(gdy nie jest zwalidowane - w formularzu znajdujemy(find): 'title') i warunek drugi mowi ze pole zostalo aktywowane i nie zwalidowane - touched -->

          </div>
          <div class="field ui" [ngClass]="{error: !articleForm.find('link').valid && articleForm.find('link').touched}">
              <label>Link:</label>
              <input type="text" name="link" [ngFormControl]="articleForm.controls['link']" />
          </div>
          <div class="field ui" [ngClass]="{error: !articleForm.find('description').valid && articleForm.find('description').touched}">
              <label>Opis (max 120 znaków):</label>
              <input type="text" name="description" [ngFormControl]="articleForm.controls['description']" />
          </div>
          <div class="field ui" [ngClass]="{error: !articleForm.find('image').valid && articleForm.find('image').touched}">
              <label>Obrazek (link):</label>
              <input type="text" name="image" [ngFormControl]="articleForm.controls['image']" />
          </div>
          <button type="submit" class="positive ui large button" [ngClass]="{disabled: !articleForm.valid}">Dodaj</button>
          <!-- potrzebny przycisk zamiast div aby dzialalo -->
          <!-- blokumy przycisk dodaj dopoki uzytkownik nie wysle wszystkich danych - walidacja..., korzystamy z Frameworku Semantic UI i dodajemy do przycisku klase disabled ale musimy dodac ta klase warunkowo za pomoca Angular -->
          <!-- dodajemy dyrektywe ngClass i dodajemy klase z Frameworka disabled i warunek jesli formularz nie jest zwalidowany (!articleForm.valid) -->
        </div>
    </form>
</div>
<div class="sk-main-list">
    <h3 class="sk-column-header">Najnowsze artykuły</h3>
    <single-article class="ui segment" *ngFor="#article of articles" [article]="article" (click)="onSelect(article,$event)" [class.raised]="article===selectedArticle"></single-article>
    <!-- przenosimy klasy "ui segment" z article.component.html -->
    <!-- click wywołujemy metode onSelect na artykule i dodajemy implementacje w app.component.ts -->
    <!-- dodajemy drugi parametr $event i przechodzimy do app.component.ts -->
    <!-- z app.component.ts przechodzimy tu i w nawiasie kwadratowym dodajemy klase o nazwie raised (z Semantic UI - naszego Frameworku) i dodajemy dla niego regule: artykul aktualnie zaznaczony taki sam jak selectedArticle -->
</div>