<!-- kontener formularza -->
<div class="sk-form-container">
    <form [ngFormModel]="articleForm" (ngSubmit)="onSubmit()">
        <!-- zestaw kontrolek articleForm -->
        <!-- ngSubmit i nazwa funkcji (wlasna nazwa) ktora bedzie przetwarzala dane z formularza aktualziowala model -->
        <h3>Dodaj nowy artykuł</h3>
        <div class="ui form">
          <div class="field ui">
              <label>Tytuł:</label>
              <input type="text" name="title" [ngFormControl]="articleForm.controls['title']" />
              <!-- definujemy kontrolke, wiazemy elementy w tej grupie, kazdy input do kontrolki. Najpierw do grupy, pozniej do kontrolek i do poszczegolnej kontrolki -->
          </div>
          <div class="field">
              <label>Link:</label>
              <input type="text" name="link" [ngFormControl]="articleForm.controls['link']" />
          </div>
          <div class="field">
              <label>Opis (max 120 znaków):</label>
              <input type="text" name="description" [ngFormControl]="articleForm.controls['description']" />
          </div>
          <div class="field">
              <label>Obrazek (link):</label>
              <input type="text" name="image" [ngFormControl]="articleForm.controls['image']" />
          </div>
          <button type="submit" class="positive ui large button">Dodaj</button>
          <!-- potrzebny przycisk zamiast div aby dzialalo -->
        </div>
    </form>
</div>
<div class="sk-main-list">
    <h3 class="sk-column-header">Najnowsze artykuły</h3>
    <single-article *ngFor="#article of articles" [article]="article"></single-article>
</div>