<div class="ui segment sk-list-item">
    <a href="">
        <div class="column">
            <div class="ui grid">
                <div class="two wide center aligned column">
                    <div class="ui statistic">
                        <div class="value">{{ article.votes}}</div>
                        <div class="label">Głosów</div>
                    </div>
                    <div class="sk-list-item buttons">
                        <button class="ui tiny compact icon button" (click)="votePlus()">
                            <i class="plus icon"></i>
                        </button>												
                        <button class="ui tiny compact icon button" (click)="voteMinus()">
                            <i class="minus icon"></i>
                        </button>												
                    </div>
                </div>
                <div class="fourteen wide column">
                    <img src="{{ article.image }}" alt="obraz">
                    <div class="sk-list-item-right">
                        <h4>{{ article.title | uppercase }}</h4>
                        <!-- wprowadzamy znak pipe "|" i wpisujemy nazwe filtru: tutaj uppercase - duze litery mozna lowercase - male litery -->
                        <span class="label">{{ article.link }}</span>
                        <p>{{ article.description | slice:0:30}}</p> 
                        <!-- filtr slice obcina znaki od 0 do 30 wyswietla reszte ucina									 -->
                    </div>
                </div>
            </div>
        </div>
    </a>
</div>